{{ define "main" }}
<main class="container mx-auto pt-16 px-16 md:px-0 h-full bg-mountain">
  <div class="max-w-4xl md:ml-16">
    <h1 class="font-serif text-2xl text-gray-800 mb-10">Aaron Cochran, Front End Developer</h1>
    <div class="columns">
      <p class="text-xl mb-5">I'm a Front End Developer, who has a passion for writing clean CSS, building accessible interfaces, teaching others, and working with a team of creative people. I'm currently the CTO and Lead Developer at Lifted Logic.</p>
      <p class="text-lg mb-5">We specialize in building custom Wordpress themes and plugins as well as custom applications using Laravel and VueJS. To see some of the awesome stuff we're working on, head on over to <a class="underline" target="_blank" href="https://liftedlogic.com/kansas-citys-custom-web-design-development/">liftedlogic.com</a></p>
      <p class="text-lg mb-5">When I'm not writing code, I spend my time playing guitar, writing music, hanging out with my dogs Jasper and Rylee, and backpacking in the mountains.</p>
      <p class="text-lg mb-5">You can also <a class="underline hover:text-blue-400" target="_blank" href="/assets/AaronCochran-Resume.pdf">view and download my résumé</a></p>
      <p class="italic">Things are pretty bland around here at the moment, but I'm working on bringing this site to life.</p>
    </div>
  </div>
</main>
{{ end }}
